.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 150px;
}

.contact span {
    color: var(--main-color);
}

.contact .networks {
    display: flex;
    gap: 15px;
}