[data-theme="dark"] {
  --main-bg: #191818;
  --second-bg: #0F0F0F;
  --third-bg: #222121;
  --text-color: #fff;
}
[data-theme="light"] {
  --main-bg: #fff;
  --second-bg: #e0e0e0;
  --third-bg: #d6d6d6;
  --text-color: #191818;
}

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

body {
    background-color: var(--main-bg);
    color: var(--text-color);
}

h1 {
  font-weight: 300;
  font-size: 3.25em;
}

h2 {
  font-weight: 300;
  font-size: 3em;
}

h3 {
  font-weight: 200;
  font-size: 2.25em;
}

h4 {
  font-weight: 200;
  font-size: 2em;
}

p {
  font-size: 2.25em;
  font-weight: 200;
}

li {
  font-size: 2em;
  font-weight: 200;
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  border: var(--text-color) solid 3px;
  padding: 10px 30px;
  font-size: 2em;
  transition: 0.2s all ease-in-out;
}

button:hover {
  background-color: var(--main-color);
}

a {
  text-decoration: none;
  color: inherit;
}
